{% extends 'layout/base.html.twig' %}

{% block title %} Checklist - SignIn {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <!-- Main content container-->
    <div class="justify-content-center mx-auto w-25 mt-5">
        <div class="card  shadow">
            <div class="card-body p-5">
                <h3 class=" mb-2 text-center">SignIn</h3>
                <div class="subheading-1 mb-2">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-5">
                            success <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </div>
                {{ form_start(loginForm) }}
                <div class="mb-4">
                    {{ form_row(loginForm.email) }}
                    {{ form_row(loginForm.password) }}
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small fw-500 text-decoration-none" href="/reset-password">Forgot Password?</a>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {{ form_end(loginForm) }}
            </div>
            <div class="text-center mb-5"><a class="small fw-500 text-decoration-none" href="/registration">Need an account?
                    Sign up!</a></div>
        </div>
    </div>
{% endblock %}