<!DOCTYPE html>
{% block head %}
{% include "layout/base.html.twig" %}
{% endblock %}
{% block body %}
    <body class="nav-fixed bg-light">
        <!-- Top app bar navigation menu-->
        {% include 'layout/top-nave.html.twig' %}

        <!-- Layout wrapper-->
        <div id="layoutDrawer">
            <!-- Layout navigation-->
            <div id="layoutDrawer_nav">
                <!-- Drawer navigation-->
                <nav class="drawer accordion drawer-light bg-white" id="drawerAccordion">
                   {% include 'layout/side-nave.html.twig' %}

                    <!-- Drawer footer        -->
                    <div class="drawer-footer border-top">
                        <div class="d-flex align-items-center">
                            <i class="material-icons text-muted">account_circle</i>
                            <div class="ms-3">
                                <div class="caption">Logged in as:</div>
                                <div class="small fw-500">Start Bootstrap</div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Layout content-->
            <div id="layoutDrawer_content">
                <!-- Main page content-->
                <main>
                    <!-- Main dashboard content-->
                    <div class="container-xl p-5">
                        <div class="row justify-content-between align-items-center mb-5">
                            <div class="col flex-shrink-0 mb-5 mb-md-0">
                                <h1 class="display-4 mb-0">Dashboard</h1>
                                <div class="text-muted">Sales overview &amp; summary</div>
                            </div>
                            <div class="col-12 col-md-auto">
                                <div class="d-flex flex-column flex-sm-row gap-3">
                                    <mwc-select class="mw-50 mb-2 mb-md-0" outlined="" label="View by">
                                        <mwc-list-item selected="" value="0">Order type</mwc-list-item>
                                        <mwc-list-item value="1">Segment</mwc-list-item>
                                        <mwc-list-item value="2">Customer</mwc-list-item>
                                    </mwc-select>
                                    <mwc-select class="mw-50" outlined="" label="Sales from">
                                        <mwc-list-item value="0">Last 7 days</mwc-list-item>
                                        <mwc-list-item value="1">Last 30 days</mwc-list-item>
                                        <mwc-list-item value="2">Last month</mwc-list-item>
                                        <mwc-list-item selected="" value="3">Last year</mwc-list-item>
                                    </mwc-select>
                                </div>
                            </div>
                        </div>
                        <!-- Colored status cards-->
                        <div class="row gx-5">
                            <div class="col-xxl-3 col-md-6 mb-5">
                                <div class="card card-raised border-start border-primary border-4">
                                    <div class="card-body px-4">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="me-2">
                                                <div class="display-5">101.1K</div>
                                                <div class="card-text">Downloads</div>
                                            </div>
                                            <div class="icon-circle bg-primary text-white"><i class="material-icons">download</i></div>
                                        </div>
                                        <div class="card-text">
                                            <div class="d-inline-flex align-items-center">
                                                <i class="material-icons icon-xs text-success">arrow_upward</i>
                                                <div class="caption text-success fw-500 me-2">3%</div>
                                                <div class="caption">from last month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-md-6 mb-5">
                                <div class="card card-raised border-start border-warning border-4">
                                    <div class="card-body px-4">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="me-2">
                                                <div class="display-5">12.2K</div>
                                                <div class="card-text">Purchases</div>
                                            </div>
                                            <div class="icon-circle bg-warning text-white"><i class="material-icons">storefront</i></div>
                                        </div>
                                        <div class="card-text">
                                            <div class="d-inline-flex align-items-center">
                                                <i class="material-icons icon-xs text-success">arrow_upward</i>
                                                <div class="caption text-success fw-500 me-2">3%</div>
                                                <div class="caption">from last month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-md-6 mb-5">
                                <div class="card card-raised border-start border-secondary border-4">
                                    <div class="card-body px-4">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="me-2">
                                                <div class="display-5">{{ total_user  }}</div>
                                                <div class="card-text">USERS</div>
                                            </div>
                                            <div class="icon-circle bg-secondary text-white"><i class="material-icons">people</i></div>
                                        </div>
                                        <div class="card-text">
                                            <div class="d-inline-flex align-items-center">
                                                <i class="material-icons icon-xs text-success">arrow_upward</i>
                                                <div class="caption text-success fw-500 me-2">3%</div>
                                                <div class="caption">from last month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-md-6 mb-5">
                                <div class="card card-raised border-start border-info border-4">
                                    <div class="card-body px-4">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="me-2">
                                                <div class="display-5">7</div>
                                                <div class="card-text">Channels</div>
                                            </div>
                                            <div class="icon-circle bg-info text-white"><i class="material-icons">devices</i></div>
                                        </div>
                                        <div class="card-text">
                                            <div class="d-inline-flex align-items-center">
                                                <i class="material-icons icon-xs text-success">arrow_upward</i>
                                                <div class="caption text-success fw-500 me-2">3%</div>
                                                <div class="caption">from last month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <!-- Revenue breakdown chart example-->

                            <!-- Segments pie chart example-->

                        </div>
                        <div class="row gx-5">
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="card card-raised">
                            <div class="card-header bg-transparent px-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-4">
                                        <h2 class="card-title mb-0">USERS</h2>
                                        <div class="card-subtitle">User details</div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-lg btn-text-primary btn-icon" type="button"><i class="material-icons">download</i></button>
                                        <button class="btn btn-lg btn-text-primary btn-icon" type="button"><i class="material-icons">print</i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <!-- Simple DataTables example-->
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>status</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if user_list %}
                                        {% for index,user in user_list %}
                                        <tr>
                                            <td>{{ index }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.roles[0] }}</td>
                                            <td>
                                                {% if user.isVerified == true %}
                                                    <span class="badge bg-success"> Verified</span>
                                                {% else %}
                                                    <span class="badge bg-info"> Pending</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="display flex">
                                                    <a href="/update/roles/{{ user.id }}"><i class="material-icons-outlined bg-primary text-light p-1">edit</i></a>
{#                                                    <span style="cursor: pointer" id="{{ index }}"><i class="material-icons-outlined bg-primary text-light p-1">edit</i></span>#}
                                                    <a href="/delete/user/{{ user.id }}" id="{{ index }}" onclick="return confirm('are u sure?')" ><i class="material-icons-outlined bg-danger text-light p-1">delete</i></a>
                                                    {% if user.isVerified == false %}
                                                        <a href="/update/status/{{ user.id }}" id="{{ index }}" ><i class="material-icons-outlined bg-success text-light p-1">done</i></a>
                                                    {% endif %}

                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </main>
                <!-- Footer-->
                <!-- Min-height is set inline to match the height of the drawer footer-->
                <footer class="py-4 mt-auto border-top" style="min-height: 74px">
                    <div class="container-xl px-5">
                        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between small">
                            <div class="me-sm-2">Copyright © Your Website 2021</div>
                            <div class="d-flex ms-sm-2">
                                <a class="text-decoration-none" href="#!">Privacy Policy</a>
                                <div class="mx-1">·</div>
                                <a class="text-decoration-none" href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% endblock %}
        <!-- Load Bootstrap JS bundle-->
        {% block footer %}
            {% include "layout/footer.html.twig" %}
        {% endblock %}
      </body>
</html>