<!DOCTYPE html>
{% block head %}
    {% include "layout/base.html.twig" %}
{% endblock %}
{% block body %}
<body class="nav-fixed bg-light">
<!-- Top app bar navigation menu-->

{% include 'layout/top-nave.html.twig' %}

<!-- Layout wrapper-->
<div id="layoutDrawer">
    <!-- Layout navigation-->
    <div id="layoutDrawer_nav">
        <!-- Drawer navigation-->
        <nav class="drawer accordion drawer-light bg-white" id="drawerAccordion">
            {% include 'layout/side-nave.html.twig' %}

            <!-- Drawer footer        -->
            <div class="drawer-footer border-top">
                <div class="d-flex align-items-center">
                    <i class="material-icons text-muted">account_circle</i>
                    <div class="ms-3">
                        <div class="caption">Logged in as:</div>
                        <div class="small fw-500">Start Bootstrap</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Layout content-->
    <div id="layoutDrawer_content">
        <!-- Main page content-->
        <main>
            <!-- Main dashboard content-->
            <div class="container-xl p-5">
                <!-- Colored status cards-->
                <div class="card card-raised">
                    <div class="card-header bg-transparent px-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="me-4">
                                <h2 class="card-title mb-0">User</h2>
                                <div class="card-subtitle"> User Checklist   </div>
                            </div>
                            <div class="d-flex gap-2">
                                <button class="btn btn-lg btn-text-primary btn-icon" type="button"><i class="material-icons">download</i></button>
                                <button class="btn btn-lg btn-text-primary btn-icon" type="button"><i class="material-icons">print</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <!-- Simple DataTables example-->
                        <div class="container">

                            <div class="table-responsive">
                                <table class="table align-middle">

                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>user email</th>
                                        <th>checklist name</th>
                                        <th>checklist status </th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    {% for index,userchecklist in checkList %}
                                        <tr>
                                            <td>{{ index }}</td>
                                            <td>
                                               {{ userchecklist.user.email }}
                                            </td>
                                            <td> {{ userchecklist.checklist.name }}</td>
                                            <td > {{ userchecklist.status }}</td>

                                                <td>
                                                    <div class="display flex">
                                                        {% if userchecklist.status == true %}
                                                            <a href="/update/checklist_status/{{ userchecklist.id }}" title="unmark cheklist"><i class="material-icons-outlined bg-primary text-light p-1">radio_button_unchecked</i></a>
                                                        {% else %}
                                                            <a href="/update/checklist_status/{{ userchecklist.id }}" title="mark checklist"><i class="material-icons-outlined bg-success text-light p-1">done</i></a>
                                                        {% endif %}
                                                    </div>

                                                </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <!-- Min-height is set inline to match the height of the drawer footer-->
        <footer class="py-4 mt-auto border-top" style="min-height: 74px">
            <div class="container-xl px-5">
                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between small">
                    <div class="me-sm-2">Copyright © Your Website 2021</div>
                    <div class="d-flex ms-sm-2">
                        <a class="text-decoration-none" href="#!">Privacy Policy</a>
                        <div class="mx-1">·</div>
                        <a class="text-decoration-none" href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
<!-- Load Bootstrap JS bundle-->
{% block footer %}
    {% include "layout/footer.html.twig" %}
{% endblock %}
</body>
</html>
