<!DOCTYPE html>
{% block head %}
    {% include "layout/base.html.twig" %}
{% endblock %}
{% block body %}
<body class="bg-primary">
<!-- Layout wrapper-->
<div id="layoutAuthentication">
    <!-- Layout content-->
    <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
            <!-- Main content container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-xl-6">
                        <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-5">
                            <div class="card-body p-5">
                                <!-- Auth header with logo image-->
                                <div class="text-center">
                                    <img class="mb-3" src="{{  asset ('img/icons/background.svg') }}" alt="..." style="height: 48px" />
                                    <h3 class=" mb-0">Update Account Setting</h3>
                                    <div class="subheading-1 mb-5">
                                        {% for flashError in app.flashes('verify_email_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}</div>
                                </div>
                                <!-- Register new account form-->
                                <form name="registration_form" method="post">
                                <div class="mb-4">
                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.username) }}
                                    {{ form_row(registrationForm.isVerified) }}
                                    {{ form_row(registrationForm.roles) }}

                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small fw-500 text-decoration-none" href="/">Sign in instead</a>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Layout footer-->
    <div id="layoutAuthentication_footer">
        <!-- Auth footer-->
        <footer class="p-4">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
                <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright © Your Website 2021</div></div>
                <div class="ms-sm-3">
                    <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
                    <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
                    <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Load Bootstrap JS bundle-->
{% endblock %}
<!-- Load Bootstrap JS bundle-->
{% block footer %}
    {% include "layout/footer.html.twig" %}
{% endblock %}
</body>
</html>
